.registerbutton {
  position: fixed;
  right: 0;
  top: 36%;
  z-index: 1;
  rotate: 90deg;
}
.Reg-btn {
  border: solid blue 3px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background: #309519e0;
  width: 125px;
  height: 45px;
  transition: 0.5s ease-in-out;
}
.Reg-btn:hover {
  background-color: black;
  transform: scale3d(1.1, 1.1, 1.1);
}
