.navbar {
  /* width: 100%; */
  background-color: #fff;
  height: 75px;
  /* margin: 20px; */
  margin-top: 0px;
  /* border-radius: 16px; */
  padding: 0.5rem;
  border: 3px solid #037b4d;
}
.navbar-brand {
  font-weight: 500;
  color: #009970;
  font-size: 24px;
  transition: 0.3s color;
  width: 100px;
  height: 75px;
  margin-top: -8px;
}
.Clogo {
  width: 100px;
  height: 75px;
}

.login-button {
  background-color: #009970;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #00b383;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

/* Responsive css */

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}


.back-filter {
  background-color: rgba(0, 0, 0, 0.5);
}


.carousal-space {
  margin-top: 150px;
  background-color: #eee;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 80vh;
}
.w-100 {
  width: 100% !important;
  height: 80vh;
}
.carousel-item {
  height: 80vh;
}
.abacus1 {
  font-size: 40px;
  color: white;
  text-align: center;
}

.container-content {
  margin-top: 100px;
}

.bg-space {
  background-color: #eee;
  margin-top: 100px;
  padding: 80px 50px;
  margin-bottom: 100px;
}
.ab-info {
  margin-top: 50px;
}

.ab-info-txt {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  padding: 50px;
  line-height: 2.5;
  text-align: justify;
  border-radius: 50px;
  font-size: 18.5px;
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}
.ab-info-txt:hover {
  transform: translate3d(10px, 10px, 10px);
}

.advan1 {
  height: 500px;
  width: 500px;
}
.mental1 {
  height: 500px;
  width: 500px;
}
#span1 {
  font-size: 22px;
  color: green;
}

.corr-img1 {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(3px);
}
.corr-img2 {
  position: absolute;
  top: 0px;
  left: 0px;
}

.black-effect {
  width: 100%;
  height: 100%;
  background-image: url("../images/texture.jpg");
  position: absolute;
  background-size: contain;
  top: 0px;
  left: 0px;
  opacity: 50%;
}
