.navbar {
  background-color: #fff;
  height: 80px;
  /* margin: 20px; */
  margin-top: 0px;
  /* border-radius: 16px; */
  padding: 0.5rem;
  border: 3px solid #037b4d;
}
.navbar-brand {
  font-weight: 500;
  color: #009970;
  font-size: 24px;
  transition: 0.3s color;
  width: 100px;
  height: 75px;
  margin-top: -8px;
}
.Clogo {
  width: 100px;
  height: 75px;
}

.login-button {
  background-color: #009970;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #00b383;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

/* Responsive css */

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.back {
  background-size: cover;
  width: 100%;
  height: 1000px;
  background-repeat: repeat;
  background-attachment: fixed;
}

.back::before {
  background-color: rgba(33, 139, 135, 0.362);
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.container {
  margin-top: 150px;
  width: 100%;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 500px;
}
.w-100 {
  width: 100% !important;
  height: 500px;
  border: 6px solid white;
  border-radius: 55px;
}
.carousel-item {
  height: 500px;
}
