.back {
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background-repeat: repeat;
  background-attachment: fixed;
}
.teacherT {
  padding: 50px 0;
}
.teacher-container {
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.teacher-heading {
  padding-top: 100px;
  text-align: center;
}
.teacher-content {
  width: 75%;
  padding: 20px;
  margin: auto;
  margin-top: 35px;
  border-radius: 35px;
  background-color: rgb(33 37 41 / 75%);
}

.contentT {
  color: azure;
  font-size: 25px;
  margin: 15px;
}

.teacher-program {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  margin-right: -15px;
  margin-left: -15px;
  margin: 55px 0;
  justify-content: space-around;
  margin-bottom: 20px;
}
.teacher-pro1 {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 0.9rem;
}

.teacher-pro2,
.teacher-pro3,
.teacher-pro4,
.teacher-pro5 {
  text-align: center;
  flex: 0 0 25%;
  max-width: 20%;
  margin: 10px 30px;
  min-width: 250px;
}
.tbox-1 {
  background-color: rgba(128, 255, 0, 0.816);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 35px;
  /* min-height: 350px; */
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 20px 0px rgb(242 238 249 / 10%);
  padding: 25px 15px 25px 15px;
  text-align: center;
  /* transition: 0.3s; */
  transition: transform 0.3s ease-in-out;
}
.tbox-1:hover {
  transform: translate3d(-10px, -10px, -10px);
}

.Ti {
  margin: 15px 0;
}
.pi {
  margin: 15px 5px;
  color: black;
  font-weight: 600;
}
.methodologyimg {
  height: 200px;
  width: 200px;
}

.teacher-fea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.teacher-col1 {
  flex: 0 0 65%;
  max-width: 65%;
}
.teacher-col2 {
  flex: 0 0 35%;
  max-width: 35%;
}
.featureT {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 10px;
  flex: 1;
  margin: 10px;
}
.pro-fea {
  text-align: center;
  max-width: 85%;
  margin: 20px 30px;
}
.f1 {
  background-color: #e3e7ece0;
}
.teacher-fea-img {
  width: 100%;
  height: 100%;
  padding: 10px;
}
#fea-img {
  text-align: center;
  width: 85%;
  height: 40vw;
  margin: 30px;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}
#fea-img:hover {
  transform: scale(1.1);
}
.Teacher-Registration {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reg-main-Teacher {
  margin-top: 50px;
  width: 800px;
  padding: 30px;
  border-radius: 30px;
  border: 3px solid #31279d;
  background-color: rgba(255, 255, 255, 0.114);
  backdrop-filter: blur(25px);
  position: relative;
  margin-bottom: 50px;
}

/* media qureies */
@media (max-width: 950px) {
  .teacher-pro2,
  .teacher-pro3,
  .teacher-pro4,
  .teacher-pro5 {
    min-width: 100%;
    margin: 10px 0;
  }
  .featureT {
    min-width: 100%;
    margin: 10px 0;
  }
  .teacher-col1,
  .teacher-col2 {
    min-width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  .methodologyimg {
    width: 80px;
    height: 80px;
  }
}
