.sidebar-title,
h2 {
  color: #444;
}

ul,
li {
  padding: 0;
  margin: 0;
}
h3 {
  color: rgb(255, 255, 255);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid #999;
}

table {
  padding: 10px;
  line-height: 2.5rem;
  width: 95%;
}

th,
td {
  text-align: left;
  padding: 10px;
}

.side-menu {
  position: fixed;
  background: #f05462;
  width: 22vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-menu .brand-name {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.side-menu li {
  font-size: 20px;
  padding: 10px 40px;
  color: white;
  display: flex;
  align-items: center;
}

.side-menu li:hover {
  background: white;
  color: #f05462;
}

.container-dashboard {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.dash-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 35px;
}
.card-d {
  width: 13rem;
  border-radius: 15px;
  margin: 30px 30px;
  box-shadow: 7px 7px 1px rgb(77 217 49);
  background-color: rgb(255 255 255 / 82%);
  transition: 0.3s ease-in-out;
}
.card-d:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
.box-d {
  text-align: center;
}
.container-dashboardbutton {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-dashboard .header .nav .search button img {
  width: 30px;
  height: 30px;
}

.container-dashboard .header .nav .user {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-dashboard.header .nav .user img {
  width: 40px;
  height: 40px;
}

.container-dashboard .header .nav .user .img-case {
  position: relative;
  width: 50px;
  height: 50px;
}

.container-dashboard .header .nav .user .img-case img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-dashboard .content {
  position: relative;
  margin-top: 150px;
  min-height: 90vh;
}

.container-dashboard.content .cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-dashboard .content .cards .card {
  width: 250px;
  height: 150px;
  background: white;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-dashboard .content .content-2 .scroll-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container-dashboard .content .content-2 .new-students {
  flex: 2;
  background: white;
  height: 400px;
  margin: 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.scroll-info {
  overflow-y: scroll;
}

@media screen and (max-width: 1050px) {
  .side-menu li {
    font-size: 18px;
  }
}

@media screen and (max-width: 940px) {
  .side-menu li span {
    display: none;
  }
  .side-menu {
    align-items: center;
    width: 100%;
    position: relative;
  }
  .container-dashboard {
    top: 400px;
    width: 100%;
  }

  .side-menu li:hover {
    background: #f05462;
    padding: 8px 38px;
    border: 2px solid white;
  }
}

@media screen and (max-width: 536px) {
  .brand-name .sidebar-title {
    font-size: 16px;
  }
  .container-dashboard .content .cards {
    justify-content: center;
  }
  .side-menu li img {
    width: 30px;
    height: 30px;
  }
  .container-dashboard
    .content
    .content-2
    .recent-payments
    table
    th:nth-child(2) {
    display: none;
    width: 90%;
  }
}
